main{
    width: 100%;
    height: 100%;
    border: 1px solid  #000;
}
main .Info--Categories{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
main .Info--Categories .Content--Left{
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: linear-gradient(to left, #000,#300);
    color: #eee;
    border-left: 2px solid #ddaa00;
}
main .Info--Categories .Content--Left h2{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Categories .Content--Left p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--Categories .Content--Left ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 5px;
}
main .Info--Categories .Content--Left ul li{
    margin: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
}
main .Info--Categories .Content--Left ul li::first-letter{
    color: #D20A0A;
}
main .Info--Categories .Content--Right{
    width: 60%;
}
main .Info--Categories .Content--Right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Info--Flyweight*/
main .Info--Flyweight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    color: #eee;
    border-bottom: 2px solid #ddaa00;
}
main .Info--Flyweight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--Flyweight .Content--Left{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-right: 2px solid #ddaa00;
}
main .Info--Flyweight .Content--Left h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Flyweight .Content--Left p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--Flyweight .Content--Right .Title--Flyweight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--Flyweight .Content--Right .Title--Flyweight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Flyweight .Content--Right .List--Flyweight{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--Flyweight .Content--Right .List--Flyweight::-webkit-scrollbar{
    width: 5px;
    background: #000;
}
main .Info--Flyweight .Content--Right .List--Flyweight::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--Flyweight .Content--Right .List--Flyweight div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--Flyweight .Content--Right .List--Flyweight div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--Flyweight .Content--Right .List--Flyweight div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--Flyweight .Content--Right .List--Flyweight div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

/*Info--Bantamweight*/

main .Info--Bantamweight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    border-bottom: 2px solid #ddaa00;
    color: #eee;
}
main .Info--Bantamweight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--Bantamweight .Content--Right{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 2px solid #ddaa00;
}
main .Info--Bantamweight .Content--Right h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Bantamweight .Content--Right p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--Bantamweight .Content--Left .Title--Bantamweight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--Bantamweight .Content--Left .Title--Bantamweight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Bantamweight .Content--Left .List--Bantamweight{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--Bantamweight .Content--Left .List--Bantamweight::-webkit-scrollbar{
    width: 5px;
    background: #000;
}
main .Info--Bantamweight .Content--Left .List--Bantamweight::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--Bantamweight .Content--Left .List--Bantamweight div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--Bantamweight .Content--Left .List--Bantamweight div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--Bantamweight .Content--Left .List--Bantamweight div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--Bantamweight .Content--Left .List--Bantamweight div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}
/*Info--Feartherweight*/
main .Info--Feartherweight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    color: #eee;
    border-bottom: 2px solid #ddaa00;
}
main .Info--Feartherweight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--Feartherweight .Content--Left{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-right: 2px solid #ddaa00;
}
main .Info--Feartherweight .Content--Left h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Feartherweight .Content--Left p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--Feartherweight .Content--Right .Title--Feartherweight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--Feartherweight .Content--Right .Title--Feartherweight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Feartherweight .Content--Right .List--Featherweight{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--Feartherweight .Content--Right .List--Featherweight::-webkit-scrollbar{
    width: 5px;
    background: #000;
}
main .Info--Feartherweight .Content--Right .List--Featherweight::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--Feartherweight .Content--Right .List--Featherweight div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--Feartherweight .Content--Right .List--Featherweight div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--Feartherweight .Content--Right .List--Featherweight div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--Feartherweight .Content--Right .List--Featherweight div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}
/*Info--Lightweight*/
main .Info--Lightweight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    border-bottom: 2px solid #ddaa00;
    color: #eee;
}
main .Info--Lightweight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--Lightweight .Content--Right{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 2px solid #ddaa00;
}
main .Info--Lightweight .Content--Right h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Lightweight .Content--Right p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--Lightweight .Content--Left .Title--Lightweight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--Lightweight .Content--Left .Title--Lightweight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Lightweight .Content--Left .List--Lightweight{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--Lightweight .Content--Left .List--Lightweight::-webkit-scrollbar{
    width: 5px;
    background: #000;
}
main .Info--Lightweight .Content--Left .List--Lightweight::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--Lightweight .Content--Left .List--Lightweight div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--Lightweight .Content--Left .List--Lightweight div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--Lightweight .Content--Left .List--Lightweight div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--Lightweight .Content--Left .List--Lightweight div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}
/*Info--WelterWeight*/
main .Info--WelterWeight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    border-bottom: 2px solid #ddaa00;
    color: #eee;
}
main .Info--WelterWeight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--WelterWeight .Content--Right{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 2px solid #ddaa00;
}
main .Info--WelterWeight .Content--Right h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--WelterWeight .Content--Right p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--WelterWeight .Content--Left .Title--Welterweight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--WelterWeight .Content--Left .Title--Welterweight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--WelterWeight .Content--Left .List--Welterweight{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--WelterWeight .Content--Left .List--Welterweight::-webkit-scrollbar{
    width: 5px;
    background: #000;
}
main .Info--WelterWeight .Content--Left .List--Welterweight::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--WelterWeight .Content--Left .List--Welterweight div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--WelterWeight .Content--Left .List--Welterweight div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--WelterWeight .Content--Left .List--Welterweight div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--WelterWeight .Content--Left .List--Welterweight div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}
/*Info--Middleweight*/
main .Info--Middleweight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    color: #eee;
    border-bottom: 2px solid #ddaa00;
}
main .Info--Middleweight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--Middleweight .Content--Left{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-right: 2px solid #ddaa00;
}
main .Info--Middleweight .Content--Left h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Middleweight .Content--Left p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--Middleweight .Content--Right .Title--Middleweight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--Middleweight .Content--Right .Title--Middleweight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--Middleweight .Content--Right .List--Middleweight{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--Middleweight .Content--Right .List--Middleweight::-webkit-scrollbar{
    width: 5px;
    background: #000;
}
main .Info--Middleweight .Content--Right .List--Middleweight::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--Middleweight .Content--Right .List--Middleweight div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--Middleweight .Content--Right .List--Middleweight div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--Middleweight .Content--Right .List--Middleweight div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--Middleweight .Content--Right .List--Middleweight div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}
/*Info--SemiMediumWeight*/
main .Info--SemiMediumWeight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    border-bottom: 2px solid #ddaa00;
    color: #eee;
}
main .Info--SemiMediumWeight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--SemiMediumWeight .Content--Right{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 2px solid #ddaa00;
}
main .Info--SemiMediumWeight .Content--Right h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--SemiMediumWeight .Content--Right p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--SemiMediumWeight .Content--Left .Title--SemiMediumWeight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--SemiMediumWeight .Content--Left .Title--SemiMediumWeight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--SemiMediumWeight .Content--Left .List--Light{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--SemiMediumWeight .Content--Left .List--Light::-webkit-scrollbar{
    width: 5px;
    cursor: pointer;
    background: #000;
}
main .Info--SemiMediumWeight .Content--Left .List--Light::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--SemiMediumWeight .Content--Left .List--Light div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--SemiMediumWeight .Content--Left .List--Light div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--SemiMediumWeight .Content--Left .List--Light div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--SemiMediumWeight .Content--Left .List--Light div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}
/*Info--HeavyWeight*/
main .Info--HeavyWeight{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #000, #300);
    color: #eee;
}
main .Info--HeavyWeight article{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Info--HeavyWeight .Content--Left{
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-right: 2px solid #ddaa00;
}
main .Info--HeavyWeight .Content--Left h3{
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--HeavyWeight .Content--Left p{
    font-size: 1em;
    letter-spacing: 1px;
}
main .Info--HeavyWeight .Content--Right .Title--Heavyweight{
    border-bottom: 1px solid #eee;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Info--HeavyWeight .Content--Right .Title--Heavyweight h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
main .Info--HeavyWeight .Content--Right .List--Heavyweight{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Info--HeavyWeight .Content--Right .List--Heavyweight::-webkit-scrollbar{
    width: 5px;
    background: #000;
    cursor: pointer;
}
main .Info--HeavyWeight .Content--Right .List--Heavyweight::-webkit-scrollbar-thumb{
    background: #200;
    border-radius: 5px;
}
main .Info--HeavyWeight .Content--Right .List--Heavyweight div{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #ddaa00;
    border-radius: 15px;
}
main .Info--HeavyWeight .Content--Right .List--Heavyweight div img{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow:0 0 5px #600;
    cursor: pointer;
    transition: .1s linear;
}
main .Info--HeavyWeight .Content--Right .List--Heavyweight div img:hover{
    padding: 2px;
    box-shadow: 0 0 5px #ddaa00;
}
main .Info--HeavyWeight .Content--Right .List--Heavyweight div h4{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
}
dialog{
    width: 75%;
    height: 75%;
    margin: auto;
    outline: none;
    z-index: 1;
    box-shadow: 0 0 5px #000;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to top, #300, #000);
    color: #eee;
}
dialog[open]{
    animation: openModal 0.7s forwards;
}
/* Animación para abrir el modal */
@keyframes openModal {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
dialog .Content--Modal{
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 100%;
}
dialog .Content--Modal article:nth-child(1){
    width: 60%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
dialog .Content--Modal article:nth-child(1) .Container--1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
dialog .Content--Modal article:nth-child(1) .Container--1 h3{
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
}
dialog .Content--Modal article:nth-child(1) .Container--1 p{
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 500;
}
dialog .Content--Modal article:nth-child(1) .Container--1 p::first-letter{
    font-size: 1.5em;
    color: #ddaa00;
}
dialog .Content--Modal article:nth-child(1) .Container--2{
    padding: 3px;
    display: flex;
    flex-direction: column;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Info--Fighter div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Info--Fighter div h4{
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 500;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Info--Fighter div p{
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ddaa00;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Info--categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Info--categories h4{
    font-size: 1.4em;
    letter-spacing: 2px;
    font-weight: 500;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Info--categories p{
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ddaa00;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Salir{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Salir button{
    width: 50%;
    padding: 1px 12px;
    border-radius: 5px;
    background: #000;
    color: #eee;
    outline: none;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    transition: .1s linear;
}
dialog .Content--Modal article:nth-child(1) .Container--2 .Salir button:hover{
    border: 2px solid #000;
    background: #ddaa00;
    color: #000;
}
dialog .Content--Modal article:nth-child(2){
    width: 40%;
    height: 100%;
    padding: 3px;
}
dialog .Content--Modal article:nth-child(2) img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}