<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC || Categories</title>
    <link rel="stylesheet" href="../../Css/Header.css">
    <link rel="stylesheet" href="../../Css/Body.css">
    <link rel="stylesheet" href="../../Css/Pages/Category.css">
</head>
<body>
    <header>
        <div class="Content--Left">
            <h1>UFC</h1>
            <div>
                <label for="Search--fighter">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed">
                        <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
                    </svg>
                </label>
                <input type="search" placeholder="Search fighter" id="Search--fighter">
            </div>
        </div>
        <ul class="Content--Right">
            <li><a href="../../../index.html">About</a></li>
            <li><a href="Fighter.html">Fighters</a></li>
            <li><a href="Fighter.html">Category</a></li>
        </ul>
    </header>
    <main>
        <section class="Info--Categories">
            <article class="Content--Left">
                <h2>Categories</h2>
                <p>
                    The UFC categories are where the fighter will fight depending on their body weight, 
                    these categories are the following:
                </p>
                <ul>
                    <li>- Flyweight</li>
                    <li>- Bantamweight</li>
                    <li>- Feartherweight</li>
                    <li>- Lightweight</li>
                    <li>- Welterweight</li>
                    <li>- Middleweight</li>
                    <li>- Semimediumweight</li>
                    <li>- Heavyweight</li>
                </ul>
            </article>
            <article class="Content--Right">
                <img src="" alt="Imagen">
            </article>
        </section>
        <section class="Info--Flyweight">
            <article class="Content--Left">
                <h3>Flyweight</h3>
                <p>
                    The flyweight category is the lightest category in the UFC, 
                    the fighters in this category weigh between 56.7 kg and 52.2 kg.
                </p>
            </article>
            <article class="List--Flyweight">
                <div>
                    <h3>Flyweight Fighter</h3>
                    <div>

                    </div>
                </div>
                <div class="List">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
        </section>
        <section class="Info--Bantamweight">
            <article class="Content--Left">
                <div>
                    <h3>BantamWeight Fighter</h3>
                    <div></div>
                </div>
                <div class="List--Bantamweight">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
            <article class="Content--Right">
                <h3>Bantamweight</h3>
                <p>
                    The bantamweight category is the second lightest category in the UFC, 
                    the fighters in this category weigh between 61.2 kg and 56.7 kg.
                </p>
            </article>
        </section>
        <section class="Info--Feartherweight">
            <article class="Content--Left">
                <h3>Feartherweight</h3>
                <p>
                    The feartherweight category is the third lightest category in the UFC, 
                    the fighters in this category weigh between 65.8 kg and 61.2 kg.
                </p>
            </article>
            <article class="List--Feartherweight">
                <div>
                    <h3>Feartherweight Fighter</h3>
                    <div>

                    </div>
                </div>
                <div class="List--Feartherweight">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
        </section>
        <section class="Info--Lightweight">
            <article class="Content--Left">
                <div>
                    <h3>Lightweight Fighter</h3>
                    <div>

                    </div>
                </div>
                <div class="List--Lightweight">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
            <article class=""></article>
        </section>
        <section class="Info--WelterWeight">
            <article class="">
                <div>
                    <h3>Welterweight Fighter</h3>
                    <div>

                    </div>
                </div>
                <div class="List--Welterweight">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
            <article class="Content--Right">
                <h3>Welterweight</h3>
                <p>
                    The welterweight category is the fourth lightest category in the UFC, 
                    the fighters in this category weigh between 77.1 kg and 70.3 kg.
                </p>
            </article>
        </section>
        <section class="Info--Middleweight">
            <article class="Content--Left">
                <h3>Middleweight</h3>
                <p>
                    The middleweight category is the fifth lightest category in the UFC, 
                    the fighters in this category weigh between 83.9 kg and 77.1 kg.
                </p>
            </article>
            <article class="List--Middleweight">
                <div>
                    <h3>Middleweight Fighter</h3>
                    <div>

                    </div>
                </div>
                <div class="List">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
        </section>
        <section class="Info--SemiMediumWeight">
            <article class="Content--Left">
                <div>
                    <h3>SemiMediumWeight Fighter</h3>
                    <div>

                    </div>
                </div>
                <div class="List--SemiMediumWeight">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
            <article class="Content--Right">
                <h3>SemiMediumWeight</h3>
                <p>
                    The semimediumweight category is the sixth lightest category in the UFC, 
                    the fighters in this category weigh between 93 kg and 83.9 kg.
                </p>
            </article>
        </section>
        <section class="Info--HeavyWeight">
            <article class="Content--Left">
                <h3>Heavyweight</h3>
                <p>
                    The heavyweight category is the heaviest category in the UFC, 
                    the fighters in this category weigh more than 93 kg.
                </p>
            </article>
            <article class="List--Heavyweight">
                <div>
                    <h3>Heavyweight Fighter</h3>
                    <div>

                    </div>
                </div>
                <div class="List">
                    <div>
                        <img src="" alt="Imagen">
                        <h4>Jose Aldo</h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
<script src="../../Js/Category.js"></script>
</html>