<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC || Categories</title>
    <link rel="stylesheet" href="../../Css/Header.css">
    <link rel="stylesheet" href="../../Css/Body.css">
    <link rel="stylesheet" href="../../Css/Pages/Category.css">
</head>
<body>
    <header>
        <div class="Content--Left">
            <h1>UFC</h1>
        </div>
        <ul class="Content--Right">
            <li><a href="../../../index.html">About</a></li>
            <li><a href="Fighter.html">Fighters</a></li>
            <li><a href="Fighter.html">Category</a></li>
        </ul>
    </header>
    <main>
        <section class="Info--Categories">
            <article class="Content--Right">
                <img src="https://p4.wallpaperbetter.com/wallpaper/129/755/684/warrior-ufc-wallpaper-preview.jpg" alt="Imagen">
            </article>
            <article class="Content--Left">
                <h2>Categories</h2>
                <p>
                    The UFC categories are where the fighter will fight depending on their body weight, 
                    these categories are the following:
                </p>
                <ul>
                    <li>- Flyweight</li>
                    <li>- Bantamweight</li>
                    <li>- Feartherweight</li>
                    <li>- Lightweight</li>
                    <li>- Welterweight</li>
                    <li>- Middleweight</li>
                    <li>- Semimediumweight</li>
                    <li>- Heavyweight</li>
                </ul>
            </article>
        </section>
        <section class="Info--Flyweight">
            <article class="Content--Left">
                <h3>Flyweight</h3>
                <p>
                    The flyweight category is the lightest category in the UFC, 
                    the fighters in this category weigh between 56.7 kg and 52.2 kg.
                </p>
            </article>
            <article class="Content--Right">
                <div class="Title--Flyweight">
                    <h3>Flyweight Fighter</h3>
                </div>
                <div class="List--Flyweight"></div>
            </article>
        </section>
        <section class="Info--Bantamweight">
            <article class="Content--Left">
                <div class="Title--Bantamweight">
                    <h3>BantamWeight Fighter</h3>
                </div>
                <div class="List--Bantamweight"></div>
            </article>
            <article class="Content--Right">
                <h3>Bantamweight</h3>
                <p>
                    The bantamweight category is the second lightest category in the UFC, 
                    the fighters in this category weigh between 61.2 kg and 56.7 kg.
                </p>
            </article>
        </section>
        <section class="Info--Feartherweight">
            <article class="Content--Left">
                <h3>Feartherweight</h3>
                <p>
                    The feartherweight category is the third lightest category in the UFC, 
                    the fighters in this category weigh between 65.8 kg and 61.2 kg.
                </p>
            </article>
            <article class="Content--Right">
                <div class="Title--Feartherweight">
                    <h3>Feartherweight Fighter</h3>
                </div>
                <div class="List--Featherweight"></div>
            </article>
        </section>
        <section class="Info--Lightweight">
            <article class="Content--Left">
                <div class="Title--Lightweight">
                    <h3>Lightweight Fighter</h3>
                </div>
                <div class="List--Lightweight"></div>
            </article>
            <article class="Content--Right">
                <h3>Lightweight</h3>
                <p>
                    The lightweight category is the fourth lightest category in the UFC, 
                    the fighters in this category weigh between 70.3 kg and 65.8 kg.
                </p>
            </article>
        </section>
        <section class="Info--WelterWeight">
            <article class="Content--Left">
                <div class="Title--Welterweight">
                    <h3>Welterweight Fighter</h3>
                </div>
                <div class="List--Welterweight"></div>
            </article>
            <article class="Content--Right">
                <h3>Welterweight</h3>
                <p>
                    The welterweight category is the fourth lightest category in the UFC, 
                    the fighters in this category weigh between 77.1 kg and 70.3 kg.
                </p>
            </article>
        </section>
        <section class="Info--Middleweight">
            <article class="Content--Left">
                <h3>Middleweight</h3>
                <p>
                    The middleweight category is the fifth lightest category in the UFC, 
                    the fighters in this category weigh between 83.9 kg and 77.1 kg.
                </p>
            </article>
            <article class="Content--Right">
                <div class="Title--Middleweight">
                    <h3>Middleweight Fighter</h3>
                </div>
                <div class="List--Middleweight"></div>
            </article>
        </section>
        <section class="Info--SemiMediumWeight">
            <article class="Content--Left">
                <div class="Title--SemiMediumWeight">
                    <h3>SemiMediumWeight Fighter</h3>
                </div>
                <div class="List--Light Heavyweight"></div>
            </article>
            <article class="Content--Right">
                <h3>SemiMediumWeight</h3>
                <p>
                    The semimediumweight category is the sixth lightest category in the UFC, 
                    the fighters in this category weigh between 93 kg and 83.9 kg.
                </p>
            </article>
        </section>
        <section class="Info--HeavyWeight">
            <article class="Content--Left">
                <h3>Heavyweight</h3>
                <p>
                    The heavyweight category is the heaviest category in the UFC, 
                    the fighters in this category weigh more than 93 kg.
                </p>
            </article>
            <article class="Content--Right">
                <div class="Title--Heavyweight">
                    <h3>Heavyweight Fighter</h3>
                </div>
                <div class="List--Heavyweight"></div>
            </article>
        </section>
    </main>
    <dialog id="Ventana--Modal" >
        <article class="Content--Modal">
            <article class="Content--Right">
                <div class="Container--1">
                    <h3 id="Title"></h3>
                    <p id="Plot"></p>
                </div>
                <div class="Container--2">
                    <div class="Info--Fighter">
                        <div>
                            <h4>Age:</h4>
                            <p id="Age"></p>
                        </div>
                        <div>
                            <h4>Record:</h4>
                            <p id="Record"></p>
                        </div>
                    </div>
                    <div class="Info--categories">
                        <div>
                            <h4>Championship:</h4>
                            <p id="Championship"></p>
                        </div>
                        <div>
                            <h4>Division:</h4>
                            <p id="Weight"></p>
                        </div>
                    </div>
                    <div class="Salir">
                        <button id="Close">Close Modal</button>
                    </div>
                </div>
            </article>
            <article class="Content--Left">
                <img id="Imagen--Fighter" src="" alt="Imagen--Fighter">
            </article>
        </article>
    </dialog>
</body>
<script src="../../Js/Category.js"></script>
</html>