<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC || Fighter</title>
    <link rel="stylesheet" href="../../Css/Header.css">
    <link rel="stylesheet" href="../../Css/Body.css">
    <link rel="stylesheet" href="../../Css/Pages/Fighter.css">
</head>
<body>
    <header>
        <div class="Content--Left">
            <h1>UFC</h1>
            <div>
                <label for="Search--fighter">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed">
                        <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
                    </svg>
                </label>
                <input type="search" placeholder="Search fighter" id="Search--fighter">
            </div>
        </div>
        <ul class="Content--Right">
            <li><a href="../../../index.html">About</a></li>
            <li><a href="Fighter.html">Fighters</a></li>
            <li><a href="Category.html">Category</a></li>
        </ul>
    </header>
    <main>
        <section class="Info--Fighter">
            <article class="Content--Right">
                <img src="../../../Public/Imagenes/Fighter_2.jpg" alt="Imagen--Fighter">
            </article>
            <article class="Content--Left">
                <h2>Fighters</h2>
                <p>
                    In this section we show all the fighters who are active in the UFC, 
                    in which you can consult their statistics and a summary of them
                </p>
            </article>
        </section>
        <section class="Fighter">
            <article class="Title--section">
                <h2>UFC Fighter</h2>
            </article>
            <article class="List--Fighter"></article>
        </section>
    </main>
    <dialog id="Ventana--Modal" >
        <article class="Content--Modal">
            <article class="Content--Right">
                <div class="Container--1">
                    <h3 id="Title"></h3>
                    <p id="Plot"></p>
                </div>
                <div class="Container--2">
                    <div class="Info--Fighter">
                        <div>
                            <h4>Age:</h4>
                            <p id="Age"></p>
                        </div>
                        <div>
                            <h4>Record:</h4>
                            <p id="Record"></p>
                        </div>
                    </div>
                    <div class="Info--categories">
                        <div>
                            <h4>Championship:</h4>
                            <p id="Championship"></p>
                        </div>
                        <div>
                            <h4>Division:</h4>
                            <p id="Weight"></p>
                        </div>
                    </div>
                    <div class="Salir">
                        <button id="Close">Close Modal</button>
                    </div>
                </div>
            </article>
            <article class="Content--Left">
                <img id="Imagen--Fighter" src="" alt="Imagen--Fighter">
            </article>
        </article>
    </dialog>
</body>
<script src="../../Js/Fighter.js"></script>
</html>