*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, #eee, #fff);
}
::-webkit-scrollbar{
    width: 7px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
}